.myContainer {
	background-color: #cdb365;
	margin:auto;	
}

.items {
	text-align:center;
	border:1px solid #fff;
	display:flex;
}

.boxInterne {
	background-color:#ffde7d;
	display:flex;
	width:96%;
	margin:2%;
}

.boxInterne p {
	margin:auto;
}


/*
color 1 : #ffde7d
color 1 dark : #cdb365
color 2 : #46a5dc
color 2 dark : #3a87b3
*/